In [1]:
import pandas as pd 
from sklearn.preprocessing import LabelBinarizer, StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC

In [2]:
train ="model/data/train.csv"
df = pd.read_csv(train)

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df = df.drop(['PassengerId','Name','Ticket','Embarked','Cabin'], axis=1)

In [5]:
df = df.fillna(method='ffill')
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [6]:
df.isnull()

     Survived  Pclass    Sex    Age  SibSp  Parch   Fare
0       False   False  False  False  False  False  False
1       False   False  False  False  False  False  False
2       False   False  False  False  False  False  False
3       False   False  False  False  False  False  False
4       False   False  False  False  False  False  False
5       False   False  False  False  False  False  False
6       False   False  False  False  False  False  False
7       False   False  False  False  False  False  False
8       False   False  False  False  False  False  False
9       False   False  False  False  False  False  False
10      False   False  False  False  False  False  False
11      False   False  False  False  False  False  False
12      False   False  False  False  False  False  False
13      False   False  False  False  False  False  False
14      False   False  False  False  False  False  False
15      False   False  False  False  False  False  False
16      False   False  False  False  False  False  False
17      False   False  False  False  False  False  False
18      False   False  False  False  False  False  False
19      False   False  False  False  False  False  False
20      False   False  False  False  False  False  False
21      False   False  False  False  False  False  False
22      False   False  False  False  False  False  False
23      False   False  False  False  False  False  False
24      False   False  False  False  False  False  False
25      False   False  False  False  False  False  False
26      False   False  False  False  False  False  False
27      False   False  False  False  False  False  False
28      False   False  False  False  False  False  False
29      False   False  False  False  False  False  False
..        ...     ...    ...    ...    ...    ...    ...
861     False   False  False  False  False  False  False
862     False   False  False  False  False  False  False
863     False   False  False  False  False  False  False
864     False   False  False  False  False  False  False
865     False   False  False  False  False  False  False
866     False   False  False  False  False  False  False
867     False   False  False  False  False  False  False
868     False   False  False  False  False  False  False
869     False   False  False  False  False  False  False
870     False   False  False  False  False  False  False
871     False   False  False  False  False  False  False
872     False   False  False  False  False  False  False
873     False   False  False  False  False  False  False
874     False   False  False  False  False  False  False
875     False   False  False  False  False  False  False
876     False   False  False  False  False  False  False
877     False   False  False  False  False  False  False
878     False   False  False  False  False  False  False
879     False   False  False  False  False  False  False
880     False   False  False  False  False  False  False
881     False   False  False  False  False  False  False
882     False   False  False  False  False  False  False
883     False   False  False  False  False  False  False
884     False   False  False  False  False  False  False
885     False   False  False  False  False  False  False
886     False   False  False  False  False  False  False
887     False   False  False  False  False  False  False
888     False   False  False  False  False  False  False
889     False   False  False  False  False  False  False
890     False   False  False  False  False  False  False

[891 rows x 7 columns]

In [7]:
lb = LabelBinarizer()
df['Sex'] = lb.fit_transform(df['Sex'])

In [8]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

In [9]:
X = df.drop('Survived', axis=1)
y = df['Survived']

In [10]:
#sc = StandardScaler()
#X = sc.fit_transform(X)

In [11]:
print(X)

     Pclass  Sex   Age  SibSp  Parch      Fare
0         3    1  22.0      1      0    7.2500
1         1    0  38.0      1      0   71.2833
2         3    0  26.0      0      0    7.9250
3         1    0  35.0      1      0   53.1000
4         3    1  35.0      0      0    8.0500
5         3    1  35.0      0      0    8.4583
6         1    1  54.0      0      0   51.8625
7         3    1   2.0      3      1   21.0750
8         3    0  27.0      0      2   11.1333
9         2    0  14.0      1      0   30.0708
10        3    0   4.0      1      1   16.7000
11        1    0  58.0      0      0   26.5500
12        3    1  20.0      0      0    8.0500
13        3    1  39.0      1      5   31.2750
14        3    0  14.0      0      0    7.8542
15        2    0  55.0      0      0   16.0000
16        3    1   2.0      4      1   29.1250
17        2    1   2.0      0      0   13.0000
18        3    0  31.0      1      0   18.0000
19        3    0  31.0      0      0    7.2250
20        2    1  35.0      0      0   26.0000
21        2    1  34.0      0      0   13.0000
22        3    0  15.0      0      0    8.0292
23        1    1  28.0      0      0   35.5000
24        3    0   8.0      3      1   21.0750
25        3    0  38.0      1      5   31.3875
26        3    1  38.0      0      0    7.2250
27        1    1  19.0      3      2  263.0000
28        3    0  19.0      0      0    7.8792
29        3    1  19.0      0      0    7.8958
..      ...  ...   ...    ...    ...       ...
861       2    1  21.0      1      0   11.5000
862       1    0  48.0      0      0   25.9292
863       3    0  48.0      8      2   69.5500
864       2    1  24.0      0      0   13.0000
865       2    0  42.0      0      0   13.0000
866       2    0  27.0      1      0   13.8583
867       1    1  31.0      0      0   50.4958
868       3    1  31.0      0      0    9.5000
869       3    1   4.0      1      1   11.1333
870       3    1  26.0      0      0    7.8958
871       1    0  47.0      1      1   52.5542
872       1    1  33.0      0      0    5.0000
873       3    1  47.0      0      0    9.0000
874       2    0  28.0      1      0   24.0000
875       3    0  15.0      0      0    7.2250
876       3    1  20.0      0      0    9.8458
877       3    1  19.0      0      0    7.8958
878       3    1  19.0      0      0    7.8958
879       1    0  56.0      0      1   83.1583
880       2    0  25.0      0      1   26.0000
881       3    1  33.0      0      0    7.8958
882       3    0  22.0      0      0   10.5167
883       2    1  28.0      0      0   10.5000
884       3    1  25.0      0      0    7.0500
885       3    0  39.0      0      5   29.1250
886       2    1  27.0      0      0   13.0000
887       1    0  19.0      0      0   30.0000
888       3    0  19.0      1      2   23.4500
889       1    1  26.0      0      0   30.0000
890       3    1  32.0      0      0    7.7500

[891 rows x 6 columns]

In [12]:
lr = LogisticRegression(penalty='l2',verbose=1)

In [13]:
lr.fit(X,y)

[LibLinear]

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=1, warm_start=False)

In [14]:
print(lr.score(X,y))

0.7934904601571269

In [15]:
lrc = LogisticRegressionCV()
lrc.fit(X,y)
lrc.score(X,y)

NameError: name 'LogisticRegressionCV' is not defined

In [16]:
sv = SVC(probability=True)
sv.fit(X,y)
sv.score(X,y)

/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.8922558922558923

In [ ]:
lsv = LinearSVC(penalty='l1')
lsv.fit(X,y)
lsv.score(X,y)

In [ ]:
import numpy as np
data = np.array([3,1,22,1,0,7.25])
data = data.reshape(1, -1)
sv.predict(data)

In [ ]:
import pickle
filename = 'model.sav'
pickle.dump(sv, open(filename, 'wb'))

In [17]:
from sklearn.externals import joblib
joblib.dump(sv, 'model.pkl')

['model.pkl']